<div class="modal fade" id="construction-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content login-dialog">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h2 class="modal-title" id="chat-modal-label">Site Under Construction</h2>
            </div>
            <div class="modal-body chat-body">
              <p>Thank you for visiting my website! Please be aware that this site is currently undergoing a massive update and redesign.</p>
              <p>Please check back for the following features soon:</p>
              <ul>
                <li>Blog</li>
                <li>Email Newsletter</li>
                <li>Interactive Resume</li>
              </ul>
              <br>
              <p class='centered'>Thanks!</p>
              <p class='centered'>- Jacob Paisley</p>
            </div>
        </div>
    </div>
</div>
