<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="register-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content register-dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="chat-modal-label">Register</h2>
              </div>
              <div class="modal-body register-body">
                <form>
                    <input id='register_firstname' type="text" autocomplete="off" class="form-control register-input-full" placeholder="First Name">
                    <input id='register_lastname' type="text" autocomplete="off" class="form-control register-input-full" placeholder="Last Name">
                    <input id='register_email' ype="text" autocomplete="off" class="form-control register-input-full" placeholder="Email Address">
                    <input id='register_password' type="password" autocomplete="off" class="form-control register-input-full" placeholder="Password">
                    <input id='register_passconf' type="password" autocomplete="off" class="form-control register-input-full" placeholder="Confirm Password">
                    <div class="checkbox styled-checkbox">
                        <input type="checkbox" id="checkbox2">
                        <label for="checkbox2">I agree to the Terms and Conditions</label>
                    </div>
                    <button type="button" id='registration-btn' class='btn btn-primary register-submit'>Register</button>
                </form>
            </div>
        </div>
    </div>
</div>