<footer>
    <div class='row'>
      <div class='col-md-4'>
      </div>
      <div class='col-md-4'>
        <a href='https://www.linkedin.com/in/jacobpaisley' target='_blank'>
          <img class='footer-img' src='linkedin.png' onmouseover='this.src="linkedin_hover.png"' onmouseout='this.src="linkedin.png"'>
        </a>
        <a href='https://twitter.com/jwpaisley' target='_blank'>
          <img class='footer-img' src='twitter.png' onmouseover='this.src="twitter_hover.png"' onmouseout='this.src="twitter.png"'>
        </a>
        <a href='https://github.com/jwpaisley' target='_blank'>
          <img class='footer-img' src='github.png' onmouseover='this.src="github_hover.png"' onmouseout='this.src="github.png"'>
        </a>
        <a href='https://www.facebook.com/jacob.paisley' target='_blank'>
          <img class='footer-img' src='facebook.png' onmouseover='this.src="facebook_hover.png"' onmouseout='this.src="facebook.png"'>
        </a>
      </div>
      <div class='col-md-4'>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-4'>
      </div>
      <div class='col-md-4'>
        <br />
        &copy; Jacob Paisley 2015-2016
      </div>
    </div>
</footer>
