<navbar>
  <div class='navbar'>
    <div class='row'>
      <div class='col-md-2 hidden-xs'>
        <a href=''><h5>Blog</h5></a>
      </div>
      <div class='col-md-2 hidden-xs'>
        <a href=''><h5>Education</h5></a>
      </div>
      <div class='col-md-2 hidden-xs'>
        <a href=''><h5>Experience</h5></a>
      </div>
      <div class='col-md-2 hidden-xs'>
        <a href=''><h5>Skills</h5></a>
      </div>
      <div class='col-md-2 hidden-xs'>
        <a href=''><h5>Projects</h5></a>
      </div>
      <div class='col-md-2 hidden-xs'>
        <a href=''><h5>Contact</h5></a>
      </div>
    </div>
  </div>
</navbar>
