<navbar>
  <div class='navbar'>
    <div class='row'>
      <div class='col-md-2 col-xs-2'>
        <a href='/'><h5>About Me</h5></a>
      </div>
      <div class='col-md-2 col-xs-2'>
        <a href='/blog'><h5>Blog</h5></a>
      </div>
      <div class='col-md-2 col-xs-2'>
        <a href='/projects'><h5>Projects</h5></a>
      </div>
      <div class='col-md-2 col-xs-2'>
        <a href='/resume'><h5>Resume</h5></a>
      </div>
      <div class='col-md-2 col-xs-2'>
        <a href='/skills'><h5>Skills</h5></a>
      </div>
      <div class='col-md-2 col-xs-2'>
        <a href='/contact'><h5>Contact</h5></a>
      </div>
    </div>
  </div>
</navbar>
