.recipe-page-container {
  display: block;
  margin: 0 auto;
  padding: 2rem;

  @media (max-width: 600px) {
    padding: 1rem;
  }
}

.recipe-sidebar {
    @media (min-width: 900px) {
        width: 350px;
        position: sticky;
        float: left;
    }
}

.recipe-content {
    @media (min-width: 900px) {
        width: calc(100% - 350px);
        margin-left: calc(350px + 2rem);
    }
}