a {
  color: #660000;
}

.navbar a {
  color: #6d6d6d;
}

a:hover {
  color: #660000;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  background-color: #f1f1f1;
  font-family: Poppins, sans-serif;
  padding-bottom: 130px;
}

footer {
  width: 100%;
  height: 130px;
  padding: 25px;
  background-color: #ffffff;
  color: #424242;
  text-align: center;
  position: fixed;
  bottom: 0px;
}

header {
  background-color: #ffffff;
  padding-top: 5px;
  height: 110px;
  width: 100%;
  border-bottom: #c4c4c4 1px solid;
}

.alt-contact-table {
  width: 50%;
  margin-left: 25%;
}

.alt-contact-row {
  width: 100%;
  height: 50px;
  margin-left: 25%;
}

.alt-contact-img {
  width: 33%;
  padding-top: 50px;
}

.btn {
  background-color: #660000;
  color: #ffffff;
}

.btn:hover {
  background-color: #60000b;
  color: #ffffff;
}

.btn:visited {
  background-color: #660000;
  color: #ffffff;
}

.centered {
  text-align: center !important;
}

.candidate-entry {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 50px;
  border-radius: 25px;
  border: 1px #cccccc solid;
}

.contact-input {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5px;
}

.footer-img {
  height: 40px;
}

.header-text {
  color: #424242;
  padding-top: 15px;
  font-size: 30px;
}

.rush-flyer {
  width: 100%;
  height: 100%;
}

.logo {
  height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  float: left;
}

.member-modal-img {
  width: 100%;
}

.navbar {
  background-color: #ffffff;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.detail-container {
  display: none;
}

.detail-content {
  padding: 50px;
}

.detail-img {
  padding: 10%;
  width: 100%;
}

.detail-subcontainer {
  background-color: #003366;
  color: #ffffff;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

.detail-alternate-color {
  background-color: #115dab;
}

.detail-title {
  text-align: left;
}

.div-border-left {
  border-left: #cccccc 1px solid;
}

.error-text {
  color: red;
}

.featured-box {
  padding-top: 50px;
}

.featured-img {
  width: 50%;
  margin-left: 25%;
}

.pushed-left {
  padding-left: 50px;
}

.title {
  color: #424242;
}
