@use '../../../styles/_variables' as style-variables;

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.6rem;
  border-radius: 999px;
  background-color: style-variables.$fog;
  color: style-variables.$primary-text;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 600;
}
