.recipe-details-container {
  width: calc(100% - 4rem);
  padding: 1rem;

  section {
    margin-bottom: 3rem;

    h3 {
      font-size: 1.5rem;
    }
  }

  ul, ol {
    padding-left: 1.25rem;

    li {
      margin-bottom: 1rem;
      line-height: 1.7;
      font-size: 1.1rem;
      overflow-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
    }
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
    padding-left: 0.5rem;
  }
}