$primary-bg: #f3e8ee;
$secondary-bg: #bacdb0;
$accent-variant-1: #729b79;
$accent-variant-2: #5d7b6e;
$accent-variant-3: #475b63;
$primary-text: #2E2C2F;
$light-text: #ffffff;

/* Colors */
$slate: #4a5568;
$sprout: #88a088;
$sunflower: #d6d6b1;
$wine: #a67c7c;
$lake: #8e9fb0;
$cloud: #f0f0f0;