@use '../../../styles/_variables' as style-variables;

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.login-content {
  text-align: center;
  max-width: 500px;
  padding: 2rem;
}

.login-text {
  color: style-variables.$slate; 
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: -0.02em;
}

.login-subtext {
  color: style-variables.$cloud;
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}