<!doctype HTML>
<html>
  <head>
    <% include ../partials/imports.ejs %>
    <title>jwpaisley | Blog</title>
  </head>
  <body>
      <% include ../partials/header.ejs %>
      <% include ../partials/navbar.ejs %>
      <% include ../partials/footer.ejs %>
  </body>
</html>
<script>
  $('#foo').css({ 'right': '0px', 'left': '' }).animate({
    'right' : '30px'
  });
</script>
