<!doctype HTML>
<html>
  <head>
    <% include ../partials/imports.ejs %>
    <title>JWPaisley</title>
  </head>
  <body>
      <div class='row fade-in'>
        <div class='col-md-2'></div>
        <div class='col-md-8 centered'>
          <img src='logo.png' width=50% />
          <h2>Thanks for visiting! This site will be updated soon!</h2>
        </div>
      </div>
  </body>
</html>
