<!doctype HTML>
<html>
  <head>
    <% include ../partials/imports.ejs %>
    <title>jwpaisley | Projects</title>
  </head>
  <body>
      <% include ../partials/header.ejs %>
      <% include ../partials/navbar.ejs %>
      <div class='row'>
        <h1 class='centered'>Projects</h1>
      </div>
      <div class='detail-container fade-in'>
        <div class='row'>
          <div class='col-md-3'>
              <img class='detail-img' src='lacewood.png' />
          </div>
          <div class='col-md-9 detail-content'>
            <h2 class='detail-title'>Lacewood (2016)</h2>
            <h4>A library of color-coded logging functions.</h4>
            <p>Lacewood is a straightforward and easy-to-use NPM module for logging your application's information to both the console and to a log file. Commands are available for loggin general information, warnings, and errors to the console and application log files. Log files are generated based on the current date and are saved to an application's 'log' folder.</p>
            <h4>
              <a type="button" class="btn btn-primary" href='#'>Download</a>
              <a type="button" class="btn btn-primary" href='#'>View Source Code</a>
            </h4>
          </div>
        </div>
      </div>
      <div class='detail-container fade-in'>
        <div class='row'>
          <div class='col-md-3'>
              <img class='detail-img' src='newt.png' />
          </div>
          <div class='col-md-9 detail-content'>
            <h2 class='detail-title'>Newt (2015)</h2>
            <h4>A simple and highly customizable text-editor designed for programmers.</h4>
            <p>A detailed description of Newt will be coming soon!</p>
            <h4>
              <a type="button" class="btn btn-primary" href='#'>Download</a>
              <a type="button" class="btn btn-primary" href='#'>View Source Code</a>
            </h4>
          </div>
        </div>
      </div>
      <div class='detail-container fade-in'>
        <div class='row'>
          <div class='col-md-3'>
              <img class='detail-img' src='blood_cell_defense.png' />
          </div>
          <div class='col-md-9 detail-content'>
            <h2 class='detail-title'>Blood Cell Defense (2014)</h2>
            <h4>An educational Android game to teach students about the functionality of blood cells in our bodies.</h4>
            <p>Blood Cell Defense is an educational Android application aimed at middle school students. The game is meant to be entertaining while still teaching students about the blood stream, blood cells, and viruses in our system. A tutorial is available and can be toggled off. The game features a scoring system based on how many viruses that you stop, how long your four blood cells last, and the difficulty setting you are playing in. High scores are saved locally and can be viewed from the main menu.</p>
            <h4>
              <a type="button" class="btn btn-primary" href='#'>Download</a>
            </h4>
          </div>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
  </body>
</html>
