<!doctype HTML>
<html>
  <head>
    <% include ../partials/imports.ejs %>
    <title>jwpaisley | Resume</title>
  </head>
  <body>
      <% include ../partials/header.ejs %>
      <% include ../partials/navbar.ejs %>
      <div class='row'>
        <h1 class='centered'>Resume</h1>
      </div>
      <div class='detail-container fade-in'>
        <div class='row'>
          <div class='col-md-3'>
              <img class='detail-img' src='education.png' />
          </div>
          <div class='col-md-9 detail-content'>
            <h2 class='detail-title'>Education</h2>
            <div class='detail-subcontainer'>
              <div class='pushed-left'>
                <h3>The University of Alabama</h3>
                <strong><p>August 2015 - December 2019*</p></strong>
                <ul>
                  <li>Bachelor of Science (B.S.), Computer Science</li>
                  <li>Master of Business Administration (M.B.A.)</li>
                </ul>
              </div>
            </div>
            <div class='detail-subcontainer detail-alternate-color'>
              <div class='pushed-left'>
                <h3>Waukee High School</h3>
                <strong><p>August 2012 - May 2015</p></strong>
                <ul>
                  <li>High School Diploma</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='detail-container fade-in'>
        <div class='row'>
          <div class='col-md-3'>
              <img class='detail-img' src='experience.png' />
          </div>
          <div class='col-md-9 detail-content'>
            <h2 class='detail-title'>Experience</h2>
            <div class='detail-subcontainer'>
              <div class='pushed-left'>
                <h3>Principal Financial Group</h3>
                <em><h4>Software Engineering Intern</h4></em>
                <strong><p>Des Moines, Iowa</p></strong>
                <strong><p>May 2016 - August 2016</p></strong>
                <ul>
                  <li>Developed new features and debugged issues in various Java projects</li>
                  <li>Worked as an intern in both front-end and back-end development</li>
                  <li>Practiced agile methodology as part of an intern-led scrum team</li>
                </ul>
              </div>
            </div>
            <div class='detail-subcontainer detail-alternate-color'>
              <div class='pushed-left'>
                <h3>The University of Alabama, Office of Educational Technology</h3>
                <em><h4>Web Development Student Assistant</h4></em>
                <strong><p>Tuscaloosa, Alabama</p></strong>
                <strong><p>March 2016 - Present</p></strong>
                <ul>
                  <li>Supported and developed University of Alabama websites</li>
                  <li>Utilized HTML, JavaScript, and CSS in web development</li>
                  <li>Worked with other students on a development team</li>
                </ul>
              </div>
            </div>
            <div class='detail-subcontainer'>
              <div class='pushed-left'>
                <h3>Prositions, Inc.</h3>
                <em><h4>Programming Intern</h4></em>
                <strong><p>Urbandale, Iowa</p></strong>
                <strong><p>December 2014 - August 2015</p></strong>
                <ul>
                  <li>Debugged issues in a Ruby on Rails application’s code</li>
                  <li>Applied AGILE methodology to a programming cycle</li>
                  <li>Worked with a diverse team of programmers</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='detail-container fade-in'>
        <div class='row'>
          <div class='col-md-3'>
              <img class='detail-img' src='activities.png' />
          </div>
          <div class='col-md-9 detail-content'>
            <h2 class='detail-title'>Activities</h2>
            <div class='detail-subcontainer detail-alternate-color'>
              <div class='pushed-left'>
                <h3>Theta Tau Professional Engineering Fraternity, Mu Chapter</h3>
                <em><h4>Active Member, Bylaws Co-Chair, Risk Management Co-Chair</h4></em>
                <strong><p>January 2016</p></strong>
              </div>
            </div>
            <div class='detail-subcontainer'>
              <div class='pushed-left'>
                <h3>The Association for Computing Machinery, University of Alabama Chapter</h3>
                <em><h4>Student Member</h4></em>
                <strong><p>August 2015</p></strong>
              </div>
            </div>
            <div class='detail-subcontainer detail-alternate-color'>
              <div class='pushed-left'>
                <h3>HyperStream, Waukee High School</h3>
                <em><h4>Lead Programmer on the Application Development Team, Student Leadership Team Member</h4></em>
                <strong><p>August 2012 - May 2015</p></strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='detail-container fade-in'>
        <div class='row'>
          <div class='col-md-3'>
              <img class='detail-img' src='awards.png' />
          </div>
          <div class='col-md-9 detail-content'>
            <h2 class='detail-title'>Honors & Awards</h2>
            <div class='detail-subcontainer'>
              <div class='pushed-left'>
                <h3>Presidential Scholar Award</h3>
                <em><h4>The University of Alabama</h4></em>
                <strong><p>August 2015</p></strong>
              </div>
            </div>
            <div class='detail-subcontainer detail-alternate-color'>
              <div class='pushed-left'>
                <h3>Engineering Leadership Award</h3>
                <em><h4>The University of Alabama</h4></em>
                <strong><p>August 2015</p></strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
  </body>
</html>
