<!doctype HTML>
<html>
  <head>
    <% include ../partials/imports.ejs %>
    <title>jwpaisley | Skills</title>
  </head>
  <body>
      <% include ../partials/header.ejs %>
      <% include ../partials/navbar.ejs %>
      <div class='row'>
        <div class='detail-container fade-in'>
          <h1 class='centered'>Skills</h1>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-1'></div>
        <div class='col-md-4'>
          <div class="skillbar clearfix " data-percent="75%">
          	<div class="skillbar-title" style="background: #124e8c;"><span>Java</span></div>
          	<div class="skillbar-bar" style="background: #4288d0;"></div>
          </div>
        </div>
        <div class='col-md-1'></div
        <div class='col-md-2'></div>
      </div>
      <% include ../partials/footer.ejs %>
  </body>
</html>
