<!doctype HTML>
<html>
  <head>
    <% include ../partials/imports.ejs %>
    <title>jwpaisley | Skills</title>
  </head>
  <body>
      <% include ../partials/header.ejs %>
      <% include ../partials/navbar.ejs %>
      <div class='row'>
        <div class='detail-container fade-in'>
          <h1 class='centered'>Skills</h1>
        </div>
      </div>
      <div class='row'>
        <div class='detail-container fade-in'>
          <div class='col-md-4 detail-content'>
            <h2 class='detail-title centered'>Professional Skills</h2>
          </div>
          <div class='col-md-4 detail-content'>
            <h2 class='detail-title centered'>Technical Skills</h2>
          </div>
          <div class='col-md-4 detail-content'>
            <h2 class='detail-title centered'>Other Skills</h2>
          </div>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
  </body>
</html>
