<nav class="top-navbar">
  <div class="nav-left">
    <a routerLink="/" class="home-link">
      <span class="material-icons">home</span>
    </a>
    @if (isUserAdmin) {
      <a routerLink="/admin" class="admin-panel-link">
        <span class="material-icons">admin_panel_settings</span>
      </a>
    }
  </div>

  @if (showUserIcon) {
    <div class="nav-right">
      @if (isUserLoggedIn) {
        <jwpaisley-user-icon></jwpaisley-user-icon>
      } @else {
        <a routerLink="/profile">
          <jwpaisley-button text="login" variant="secondary"></jwpaisley-button>
        </a>
      }
    </div>
  }
</nav>