<div class="comments-section">
  <h3>comments ({{ commentCount }}{{ hasMoreComments ? '+' : '' }})</h3>

  @if (commentsLoading) {
    <jwpaisley-loader [isLoading]="true" size="medium"></jwpaisley-loader>
  } @else if (commentsError) {
    <p>could not load comments right now.</p>
  } @else if (comments.length === 0) {
    <div class="comments-empty-state">
      <p>be the first to add a comment</p>
    </div>
  } @else {
    <div class="comments-list">
      @for (thread of threadedComments; track thread.comment.id) {
        <div class="comment-thread">
          <jwpaisley-comment
            [comment]="thread.comment"
            [showReplyAction]="true"
            [refreshComments]="refreshCommentsForSection"
          ></jwpaisley-comment>

          @if (thread.replies.length > 0) {
            <div class="comment-thread__replies">
              @for (reply of thread.replies; track reply.id) {
                <jwpaisley-comment
                  [comment]="reply"
                  [showReplyAction]="false"
                  [refreshComments]="refreshCommentsForSection"
                ></jwpaisley-comment>
              }
            </div>
          }
        </div>
      }
    </div>

    @if (hasMoreComments) {
      <div class="comments-load-more">
        <jwpaisley-button
          variant="primary"
          text="load more"
          [disabled]="isLoadingMoreComments"
          (click)="loadMoreComments()"
        ></jwpaisley-button>
      </div>
    }
  }

  @if (isLoggedIn) {
    @if (isPostingComment) {
      <jwpaisley-loader [isLoading]="true" size="medium"></jwpaisley-loader>
    } @else {
      <jwpaisley-comment-input
        [user]="currentUser"
        placeholder="write a comment"
        (postComment)="handleCommentPost($event)"
      ></jwpaisley-comment-input>
    }
  } @else {
    <jwpaisley-button variant="primary" text="log in to comment" [routerLink]="['/profile']"></jwpaisley-button>
  }
</div>
