<div class="page-container">
    <div>
        @if (isUserAdmin) {
            <jwpaisley-button text="create new recipe" (click)="redirectToCreateRecipePage()"></jwpaisley-button>
            <jwpaisley-button text="create new tag" (click)="openAddRecipeTagDialog()"></jwpaisley-button>
        }
    </div>

    <div>
        <h2>tags</h2>
        <jwpaisley-loader [isLoading]="isLoadingTags" size="small">
            <jwpaisley-tag-list
                [tags]="tags"
                (tagSelected)="onTagSelected($event)"
                (tagUnselected)="onTagUnselected($event)"
            ></jwpaisley-tag-list>
        </jwpaisley-loader>
    </div>

    <div>
        <h2>recipes</h2>
        <jwpaisley-loader [isLoading]="isLoadingRecipes">
            <jwpaisley-recipes-table [recipes]="recipes"></jwpaisley-recipes-table>
            @if (hasMoreRecipes) {
                <div class="load-more-row">
                    <jwpaisley-loader [isLoading]="isLoadingMore" size="small">
                        <jwpaisley-button text="load more" (click)="loadMoreRecipes()"></jwpaisley-button>
                    </jwpaisley-loader>
                </div>
            }
        </jwpaisley-loader>
    </div>
</div>