@use 'styles/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Google Sans", sans-serif;
    background-color: v.$primary-bg;
    color: v.$primary-text;
}