<mat-card 
    class="dashboard-card" 
    [ngClass]="[type + '-card', isTall ? 'tall-dashboard-card' : '', status === 'workInProgress' ? 'work-in-progress-container' : status === 'comingSoon' ? 'coming-soon-container' : '']" 
    [routerLink]="link"
>
    @if (status !== 'done') {
        <div class="status-banner" [class]="status === 'workInProgress' ? 'status-banner--work-in-progress' : 'status-banner--coming-soon'">{{ status === 'workInProgress' ? 'work in progress' : 'coming soon' }}</div>
    }
    <mat-card-header>
        <mat-icon mat-card-avatar>{{ icon }}</mat-icon>
        <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p *ngIf="description">{{ description }}</p>
        <ng-content></ng-content>
    </mat-card-content>
</mat-card>