@use '../../../styles/variables' as style-variables;

.dashboard-card {
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;

    &:hover {
        transform: translateY(-5px);
    }
}

.mat-mdc-card-title {
    font-size: 1.5rem !important;
    /* Adjust this value as needed */
    font-weight: 600;
    letter-spacing: -0.025em;
    /* Gives it a modern, tighter feel */
}

.primary-card {
    background: style-variables.$accent-variant-1;
    backdrop-filter: blur(10px);
}

.secondary-card {
    background: style-variables.$accent-variant-2;
    color: white !important;

    mat-icon,
    p,
    mat-card-title {
        color: style-variables.$light-text !important;
    }
}

.tertiary-card {
    background: style-variables.$accent-variant-3;
    color: white !important;

    mat-icon,
    p,
    mat-card-title {
        color: style-variables.$light-text !important;
    }
}