@use '../../../styles/_variables' as style-variables;

.table-container {
  width: 100%;
  overflow-x: auto;
  background-color: style-variables.$cloud;
  border-radius: 0;
}

.jwpaisley-table {
  width: 100%;
  border-collapse: collapse;
  color: style-variables.$primary-text;
  font-family: inherit;
  font-size: 0.875rem; 

  thead {
    background-color: style-variables.$accent-variant-3;
    
    th {
      text-align: left;
      padding: 0.75rem 0.5rem;
      font-weight: 600;
      color: style-variables.$light-text;
      text-transform: lowercase;
      letter-spacing: 0.5px;
      border-radius: 0;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid style-variables.$secondary-bg;
      transition: background-color 0.15s ease;

      &:nth-child(odd) {
        background-color: style-variables.$cloud;
      }

      &:nth-child(even) {
        background-color: style-variables.$fog;
      }

      &:hover {
        background-color: rgba(style-variables.$secondary-bg, 0.2);
      }

      &:last-child {
        border-bottom: none;
      }

      td {
        padding: 0.5rem;
        vertical-align: middle;
        line-height: 1.2;
      }
    }
  }

  .cell-img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 0;
    border: 1px solid style-variables.$accent-variant-1;
  }

  .hide-mobile {
    @media (max-width: 768px) {
      display: none;
    }
  }
}